@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p> This is where Rachel puts all of her sandwich information. You can never have too many sandwiches!</p>
