@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    One Toasty street<br />
    Anchorage, AK 12345<br />
    <abbr title="Phone">Phone:</abbr>
    123.456.7890
</address>

<address>
    <strong>Order Lunch:</strong> <a href="mailto:Support@example.com">order@sandwich.com</a><br />
    <strong>Sandwich Information:</strong> <a href="mailto:Marketing@example.com">info@sandwich.com</a>
</address>
